@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #e4dafe #8674d4;
  }

  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #e4dafe;
    border-radius: 15px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8674d4;
    border-radius: 15px;
    border: 3px solid #8674d4;
  }

  body {
    @apply bg-blue5 font-popins;
  }

  ul {
    @apply list-none;
  }
  a {
    @apply no-underline;
  }
  img {
    @apply w-[100%];
  }

  p {
    @apply font-firamono font-medium text-lg text-purple0 sm:text-sm;
  }

  .container-max {
    @apply max-w-[1280px] px-[20px] mx-auto lg:px-[40px];
  }
  .card-style {
    @apply border-solid border-[1px] rounded-sm text-blue0 border-blue9 font-tinos font-semibold text-2xl bg-blue6  group-hover:border-purple5 transition-all duration-500  group-hover:translate-x-1 group-hover:translate-y-1;
  }
  .menu-hover {
    @apply inline-block  cursor-pointer relative  after:content-[''] after:block  after:h-[4px] after:w-0 after:bg-purple5 after:mt-1 after:duration-700 after:absolute after:rounded-full hover:after:w-full hover:text-purple5 hover:duration-700;
  }
  .btn-icons {
    @apply text-xl uppercase  tracking-wider	 font-semibold font-firamono flex gap-[12px]  justify-center bg-blue5  rounded-sm py-[8px] px-[12px]  text-blue0 border-[1px] border-solid border-purple7 items-center    shadow-[0px_6px_10px_4px_rgba(0,0,0,0.15),0px_2px_3px_rgba(0,0,0,0.3)] 
   hover:shadow-[2px_8px_8px_-5px_rgba(0,0,0,0.3)]
  hover:translate-y-1 hover:translate-x-1

    hover:bg-blue4 transition duration-500 ease-in-out focus:bg-blue0  focus:text-blue5 focus-within:fill-blue5 focus:border-blue9;
  }

  .shadowCard {
    @apply shadow-[0px_2px_4px_rgba(0,0,0,0.14),0px_3px_4px_rgba(0,0,0,0.12),0px_1px_5px_rgba(0,0,0,0.2)];
  }
  .infoSection {
    @apply before:content-[''] before:block  before:h-[4px] before:w-[40px]   before:bg-purple5  flex  items-center gap-[8px] sm:before:w-[40px];
  }
  .hoverGroupsIcons {
    @apply group-hover:text-purple5 transition duration-500 ease-in-out fill-current;
  }

  .embla__dot,
  .embla__button {
    @apply appearance-none	 bg-transparent touch-manipulation	 inline-flex no-underline	cursor-pointer  border-0 p-0 m-0 gap-8;
  }
  .embla__dots {
    @apply z-[1] bottom-[1.2rem]  left-0 right-0 flex justify-center items-center gap-3;
  }

  .embla__dot:after {
    @apply bg-blue0 rounded w-full content-[''] h-[0.3rem];
  }

  .embla__button {
    @apply z-[1]   flex items-center justify-center top-[50%]  absolute translate-y-[-50%] cursor-pointer w-[4rem] h-[4rem];
  }

  .embla__button:disabled {
    @apply opacity-30;
  }
  .embla__button__svg {
    @apply w-[75%] h-[75%];
  }

  .textTitle {
    @apply text-blue0 font-montserrat font-semibold text-[22px] text-center;
  }

  .textDescription {
    @apply text-center font-popins leading-[28px] font-normal text-[16px] text-blue3;
  }
  .iconsMediaSocial {
    @apply w-[36px] h-[36px] fill-current cursor-pointer hover:fill-purple5 transition duration-500 ease-in-out sm:h-[56px] sm:w-[56px] sm:p-[10px];
  }
}
